* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #f44336;
    --hover-color: #f16960;
    --hover-color-bold :#c31206;
}

.main {
    overflow: hidden;
}

.slider-item {
    width: 100vw;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
}

/* làm tối image: trước tiên phải cho lớp cha có position: relative */
.slider-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.slider-item-one {
    background-image: url('../../image/slider-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-item-two {
    background-image: url('../../image/slider-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-item-three {
    background-image: url('../../image/slider-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------Thanh điều hướng---------- */
.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /* chỗ nào thêm !important vào là chỗ đó bị mâu thuẫn vs thư viện Owl Carouse => k css đc,
        vì vậy phải thêm !important vào */
    font-size: 50px !important; 
    color: #fff !important;
}

.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px !important; 
    color: #fff !important;
}

.owl-prev, .owl-next {
    background: none !important;
}

.owl-dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 46%;
    right: 37px;
}

.owl-dot span {
    width: 10px !important;
    height: 10px !important;
    margin: 0 !important;
    background-color: transparent !important;
}

.owl-nav {
    margin-top: 0 !important;
}

.owl-dot {
    width: 18px;
    height: 18px;
    border: 2px solid #fff !important;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
}

.owl-dot.active span {
    background-color: var(--main-color) !important;
}

/* --------------------Header------------------ */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
}

.header-logo img {
    width: 85px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header-nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-nav ul li {
    margin-left: 20px;
    padding: 6px 0;
    position: relative;
}

.header-nav ul li:hover .nav-sub {
    display: block;
    animation: subnav 0.2s linear;
}

.header-nav>ul>li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--main-color);
    display: block;
    margin: auto;
    transition: 0.4s;
}
.header-nav>ul>li:hover::after {
    width: 100%;
}

.list_city .city_item_first {
    position: relative;
}

.list_city .city_item_first::after {
    content: '';
    position: absolute;
    height: 20px;
    width: calc(100% + 30px);
    background-color: transparent;
    top: 98%;
    left: 0;
}

@keyframes subnav {
    from {
        top: 100px;
    }
}

.header-nav ul li a {
    color: #fff;
    font-weight: bold;
    transition: all 0.2s ease;
}

.header-nav > ul > li > a:hover {
    color: var(--main-color);
}

/* ------------login------------- */
.header-nav-icon {
    display: flex;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 50px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.user-icon {
    margin-right: 10px;
}

.list_city .header-nav-form {
    position: relative;
}

.list_city .header-nav-form::after {
    content: '';
    position: absolute;
    height: 20px;
    width: calc(100% + 30px);
    background-color: transparent;
    top: 98%;
    left: 0;
}

.header-form-login {
    position: absolute;
    width: 216px;
    background-color: #fff;
    top: 135%;
    padding: 20px 0;
    left: -50px;
    border-radius: 10px;
    line-height: 26px;
    box-shadow: 2px 4px 20px #0003;
}

.header-form-login::before {
    width: 30px;
    height: 30px;
    background-color: rgba(221, 221, 221, 1);
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 96px;
    transform: rotate(45deg);
    z-index: -1;
}

.header-form-login ul li a {
    font-weight: normal;
    line-height: 10px;
    color: #333;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-form-login ul li {
    margin-left: 0!important;
    text-indent: 20px;
    height: 40px;
}

.header-form-login ul li:hover {
    background-color: #e3e0e077;
}

.header-form-login ul li a:hover {
    color: var(--main-color);
}

/* ----------------logout----------- */
.header-form-logout {
    position: absolute;
    width: 265px;
    background-color: #fff;
    top: 135%;
    padding: 20px 0;
    margin-right: 20px;
    left: -100px;
    border-radius: 10px;
    box-shadow: 2px 4px 20px #0003;
    cursor: pointer;
}

.header-form-logout::before {
    width: 30px;
    height: 30px;
    background-color: rgba(221, 221, 221, 1);
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 145px;
    transform: rotate(45deg);
    z-index: -1;
}

.header-form-avatar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 0 8px 20px;
}

.header-form-avatar i {
    font-size: 45px;
    margin-right: 10px;
    color: #b4b2b2;
}

.header-form-avatar:hover {
    background-color: #e3e0e077;
    
}

.header-form-avatar:hover .header-name span,
.header-form-avatar:hover .header-name p {
    color: var(--main-color)
}

.header-name {
    
    line-height: 22px;
}

.header-name span {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.header-name p {
    font-size: 14px;
    color: #333;
}

.header-name:hover {
    color: var(--main-color);
}

.header-form-booked {
    display: flex;
    align-items: center;
    font-size: 14.5px;
    color: #333;
    line-height: 40px;
    margin-top: 15px;
    padding-left: 20px;
}

.header-form-booked i {
    font-size: 13px;
    margin-right: 15px;
}

.header-form-booked:hover {
    background-color: #e3e0e077;
    color: var(--main-color);
}

.drop-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d6d5d5;
    top: 88px;
    left: 0;
}

.header-form-loved {
    font-size: 14.5px;
    color: #333;
    line-height: 40px;
    padding-left: 20px;
}

.header-form-loved i {
    margin-right: 10px;
}

.header-form-loved:hover {
    background-color: #e3e0e077;
    color: var(--main-color);
}

.form-logout {
    font-size: 14.5px;
    color: #333;
    line-height: 40px;
    padding-left: 20px;
}

.form-logout:hover {
    background-color: #e3e0e077;
    color: var(--main-color);
}

.signIn {
    background-color: var(--main-color);
    padding: 8px 12px;
    border-radius: 5px;
}

.signIn:hover {
    color: #fff !important ;
    background-color: var(--hover-color);
}

.signIn {
    background-color: var(--main-color);
    padding: 8px 12px;
    border-radius: 5px;
}

.signIn:hover {
    color: #fff !important ;
    background-color: var(--hover-color);
}

/* --------------- */
.nav-sub {
    position: absolute;
    width: 250px;
    background-color: #fff;
    top: 140%;
    padding: 30px 20px;
    left: -50px;
    display: none;
}

/* làm mũi nhọn */
.nav-sub::before {
    width: 30px;
    height: 30px;
    background-color: rgba(221, 221, 221, 1);
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 70px;
    transform: rotate(45deg);
    z-index: -1;
}

.nav-sub ul li a {
    color: #333;
    font-weight: normal;
}

.nav-sub ul li a:hover {
    color: var(--main-color);
    padding-left: 12x;
}

.nav-sub ul li {
    margin-bottom: 12px;
    transition: all 0.3s ease;
}

.nav-sub ul li:hover {
    padding-left: 15px;
}

/* ---------------slider content----------------- */
.wraper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.wraper1 {
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    position: relative;
}

.wraper2 {
    max-width: 1140px;
    width: 85%;
    margin: 0 auto;
    position: relative;
}

.slider-item-text {
    position: absolute;
    top: 65%;
    transform: translateY(-65%);
}

.slider-item-text p {
    color: #fff;
}

.slider-item-text button {
    padding: 12px 20px;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
    font-size: 15px;
}

.slider-item-text button:hover {
    background-color: var(--hover-color);
}
/* --------------Search-------------- */
.search {
    position: absolute;
    /* bottom: 150px; */
    z-index: 10;
    width: 100%;
    bottom: 300px;
    /* position: relative;
    transform: translateY(-200px);
    z-index: 10; */
    /* overflow: hidden; */
}

.search-content-items {
    justify-content: space-around;
    background-color: rgba(221, 221, 221, 0.5);
    padding: 14px 0;
    width: 100%;
    border-radius: 5px;
}

.search-content-item {
    height: 40px;
    background-color: #fff;
    width: 19%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.search-content-item input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 36px;
    border-radius: 5px;
}

.search-content-item > i {
    position: absolute;
    color: var(--main-color);
    margin-left: 12px;
}

.search-content-item:last-child {
    width: 130px;
}

.search-content-item:last-child button {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-content-item:last-child button:hover {
    background-color: var(--hover-color);
}

.autobox {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(221, 221, 221, 0.7);
    font-size: 15px;
    border-radius: 5px;
}

.autobox li {
    list-style: none;
    padding: 6px 0 6px 36px;
    cursor: pointer;
    display: none;
}

.autobox li:hover {
    color: var(--main-color);
}

.autobox.active li {
    display: block;
}

/* ---------------Datetimepicker-------------- */
.flatpickr-months .flatpickr-month {
    background-color: var(--main-color) !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    background-color: var(--main-color) !important;
}

.flatpickr-weekdays {
    background-color: var(--main-color) !important;
}

.flatpickr-weekday {
    background: var(--main-color) !important;
    color: #fff !important;
}

.flatpickr-calendar .arrowTop::after {
    border-bottom-color: var(--main-color) !important;
}

.flatpickr-calendar .arrowBottom::after {
    border-top-color: var(--main-color) !important;
}

/* -----------------Number of people--------------- */
.number-people, .number-people2, .number-people4 {
    cursor: pointer;
}

.number-box, .number-box2, .number-box3, .number-box4 {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(221, 221, 221, 0.7);
    border-radius: 5px;
    display: none;
}

.number-box4 {
    z-index: 10;
    background-color: #fff;
    /* box-shadow: rgb(0 0 0 / 15%) 0px 0px 5px; */
    box-shadow: rgb(0 0 0 / 20%) 2px 4px 20px;
}

.number-box.active, .number-box2.active, .number-box4.active {
    display: block;
}

.number-box li, .number-box2 li, .number-box4 li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    height: 35px;
    cursor: pointer;
}

.number-box i, .number-box2 i, .number-box4 i {
    color: var(--main-color);
}

.number-left, .number-left2, .number-left4 {
    width: 65%;
    font-size: 15px;
}

.number-right, .number-right2, .number-right4 {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.number-close, .number-close2, .number-close4 {
    font-size: 15px;
    cursor: pointer;
    padding: 10px 12px 10px 12px;
    text-align: right;
    color: var(--main-color);
    font-weight: bold;
}

/* --------------------header path---------------------- */
.container-nav {
    width: 85%;
    height: 45px;
}

.header-path {
    display: flex;
    padding: 18px 0;
    font-size: 14px;
}

.header-path li a {
    color: var(--main-color);
    padding-right: 10px;
}

.header-path li {
    display: flex;
    align-items: center;
}

.header-path li::after {
    content: ">";
    display: block;
    color: #777;
    font-size: 14px;
    text-align: center;
    padding-right: 10px;
}

.header-path li a:hover {
    color: var(--hover-color-bold);
}

/* -----------------detail room------------------------- */
.detail-room {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;   
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
}

.detail-room-left {
    width: 40%;
    height: 326px;
    margin-right: 6px;
}

.detail-room-left img {
    width: 100%;
    height: 100%;
    transition: 0.25s;
}

.detail-room-left:hover img {
    filter: brightness(0.8);
    transition: all 0.2s ease-in-out;
    /* transform: scale(1.2); */
}

.detail-room-right {
    width: 60%;
    height: 320px;
}

.detail-room-right img {
    transition: 0.25s;
}

.detail-room-right img:hover {
    filter: brightness(0.8);
    transition: all 0.2s ease-in-out;
    /* transform: scale(1.2); */
}

.detail-room-right-top {
    display: flex;
    justify-content: space-between;
    text-align: end;
    height: 160px;
}

.detail-room-right-top img {
    width: 210px;
    height: 100%;
}

.detail-room-right-bottom {
    display: flex;
    justify-content: space-between;
    text-align: end;
    height: 160px;
    margin-top: 6px;
}

.detail-room-right-bottom img {
    width: 210px;
    height: 100%;
}

.gallery {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    color: white;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s;
}

.gallery-inner {
    display: flex;
    align-items: center;
    width: 70%;
    align-items: center;
    height: 550px;
    margin: 0 auto;
}

.gallery-inner img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    cursor: pointer;
}

.control {
    font-size: 35px;
    /* background: rgb(255, 255, 255, 0.8); */
    position: absolute;
    cursor: pointer;
}

.prev {
    left: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.next {
    right: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.hide {
    display: none;
}

.container {
    display: flex;
}

.detail-info {
    width: 60%;
    margin-right: 50px;
}

.room-name {
    color: #333;
    font-size: 26px;
}

.rooms-star {
    font-size: 13px;
    color: #d5d5d5;
    margin: 10px 0 15px 0;
}

.rooms-star-rating {
    color: rgb(255, 188, 57);
}

.see-review .point {
    padding: 4px 10px;
    background: var(--main-color);
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.see-review span {
    font-size: 15px;
}

.rooms-address {
    display: flex;
    font-size: 15px;
    /* color: #5392f9; */
    margin: 10px 0;
}

.rooms-address-icon {
    margin-right: 6px;
}

.info-room {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}

.info-room-border {
    height: 1px;
    flex: 1;
    background-color: var(--main-color);
}

.info-room-name {
    padding: 0 15px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
}

.info-container-name {
    font-size: 20px;
    margin: 15px 0;
    color: #333;
}

.info-container-content {
    color: #34495E;
    font-size: 14px;
    line-height: 20px;
    text-indent: 30px;
    margin-bottom: 40px;
}

.info-container-device {
    /* text-indent: 40px; */
    margin: 20px 0 15px 0;
    color: #333;
    font-size: 14px;
}

.list-device {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #34495E;
    line-height: 40px;
}

.amenities li i {
    margin-right: 10px;
}

.book-room {
    width: 40%;
    z-index: 20;
}

.border {
    display: flex;
    align-items: center;
    width: 70%;
}

.price-room {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ebebeb;
    padding: 15px 0;
    margin-top: 15px;
}

.form-price {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.form-price .price {
    font-weight: bold;
    font-size: 18px;
    color: var(--hover-color);
}

.form-price .number-days {
    text-indent: 30px;
    font-size: 12px;
    color: #34495E;
}

.form-room{
    border-radius: 4px;
    margin: 20px 0;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label {
    text-align: left;
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.1rem;
    font-size: 14px;
    color: #5e5e5e;
}

.form-control {
    padding: 8px 10px;
    border: 1px solid #aab2bd;
    border-radius: 3px;
    outline: none;
    font-size: 13px;
    cursor: pointer;
}

.form-control:hover {
    border-color: var(--main-color);
}

.form-calender {
    position: relative;
}

.form-calender-icon {
    position: absolute;
    right: 20px;
    top: 32px;
    color: var(--main-color);
}

.form-people {
    position: relative;
}

.form-people-icon {
    position: absolute;
    right: 20px;
    top: 32px;
    color: var(--main-color);
}

.form-submit {
    outline: none;
    background: linear-gradient(#f37066,#f44336);
    margin-top: 4px;
    margin-bottom: 50px;
    padding: 10px 14px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.form-submit:hover {
    background: var(--hover-color);
}

.form-submit a {
    color: #fff;
    padding: 10px 127px;
}

/* -------------reviews------------ */
.reviews h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #333;
}

.review-star {
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.review-star i {
    font-size: 40px;
    color: rgb(255, 188, 57);
    margin-right: 10px;
}

.review-star1 {
    font-size: 40px;
}

.review-star2 {
    font-size: 32px;
}

.review-star3 {
    font-size: 20px;
}

.wrap-reviews-top {
    display: flex;
    line-height: 20px;
}

.review-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 12px;
    margin-bottom: 15px;
}

.review-name {
    font-weight: bold;
    margin-right: 10px;
}

.review-rate-star {
    font-size: 10px;
    color: rgb(255, 188, 57);
}

.no-light {
    color: rgb(218, 220, 221);
}

.review-date {
    font-size: 13px;
    color: #34495E;
}

.wrap-reviews-bottom {
    color: #34495E;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
}

.show-more {
    cursor: pointer;
    margin-bottom: 30px;
}

.show-more span:hover {
    color: var(--main-color);
}

.show-more span {
    font-size: 17px;
    color: #333;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 10px;
}

.show-more i {
    font-size: 14px;
}

.comments {
    margin-bottom: 60px;
}

.cmt-icon {
    width: 30%;
    margin-bottom: 20px;
}

.cmt-icon i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.cmt-icon i:hover {
    color: rgb(255, 188, 57);
}

.cmt-text {
    width: 30%;
    padding: 8px 20px;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    border: 1px solid #333;
    margin-right: 8px;
}

.cmt-text:hover {
    border: 1px solid var(--main-color);
}

.btn-cmt {
    padding: 8px 20px;
    border-radius: 6px;
    border: 1px solid var(--main-color);
    background-color: #fff;
    color: #fff;
    background: linear-gradient(#f37066,#f44336);
    cursor: pointer;
    font-size: 15px;
}

.btn-cmt:hover {
    background: var(--main-color);
}


/* -------------loại phòng----- */
.type-title h1 {
    font-size: 25px;
}

.room-date {
    display: flex;
    margin-right: 10px;
}

.room-search {
    width: 5%;
    height: 34px;
    margin-top: 23px;
    margin-left: 8px;
    background: linear-gradient(#f37066,#f44336);
    border: none;
    border-radius: 5px;
}

.room-search:hover {
    background: var(--main-color);
}

.room-search a i {
    color: #fff;
}

.supplierPages {
    background-color: #fff;
    padding: 10px 0 40px 20px;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    margin-bottom: 50px;
}

.list-content {
    margin-top: 20px;
    font-size: 14.5px;
}

.list-status span, .list-info span, .list-people span {
    font-size: 15px;
}

.list-status a {
    font-size: 17px;
    color: #333;
    font-weight: bold;
    text-decoration: underline;
    position: relative;
}

.list-status a:hover {
    color: var(--main-color);
}

.list-status a::after {
    content: '';
    position: absolute;
    height: 20px;
    width: calc(100% + 30px);
    background-color: transparent;
    top: 98%;
    left: 0;
}

.show-detail-room {
    position: fixed;
    display: flex;
    width: 70%;
    background-color: #fff;
    /* top: 10px; */
    padding: 20px ;
    left: 0;
    bottom: 34px;
    right: 0;
    border-radius: 10px;
    box-shadow: 2px 4px 20px #0003;
    cursor: pointer;
    z-index: 100;
    margin: auto;
}

.detail-image-room {
    width: 94%;
    height: 80%;
    /* margin: 50px auto; */
}

.image-room-main {
    height: 75%;
    margin-bottom: 4px;
    position: relative;
}

.image-room-main img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.list-image {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.list-image div {
    flex: 1;
    padding: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-control {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 30px;
    transform: translateY(-50%);
}

.prev-control {
    left: 10px;
}

.next-control {
    right: 10px;
}

.active1 {
    background: var(--main-color);
}

.detail-content-room {
    width: 50%;
    margin-left: 20px;
}

.convenient {
    margin-top: 20px;
    color: #34495E;
}

.air-conditioning i, .wifi i, .ears i, .room-type i {
    font-size: 14px;
    margin-bottom: 14px;
    margin-right: 6px;
}

.air-conditioning span, .wifi span, .ears span, .room-type span {
    font-size: 14px;
}

.bathroom h1, .convenient-room h1 {
    font-size: 17px;
    color: #333;
    margin: 10px 0;
}

.bathroom ul li, .convenient-room ul li {
    font-size: 14px;
    color: #34495E;
    line-height: 24px;
}

.reserve button {
    padding: 10px 16px;
    margin-top: 20px;
    margin-left: 160px;
    background: linear-gradient(#f37066,#f44336);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.reserve > button > a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.reserve > button > a:hover {
    color: #fff;
}

.reserve button:hover {
    background: var(--main-color);
}

.room-close {
     height: 30px;
}

.room-close i {
    font-size: 22px;
}

.list-id button {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    background: linear-gradient(#f37066,#f44336);
    border: none;
    border-radius: 5px;
    color: #fff;
}

.list-id button a {
    color: #fff;
}

.list-id button:hover {
    background: var(--main-color);
}

table {
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    border-collapse: collapse;
}

table tr th {
    text-align: start;
}

th {
    border-bottom: 1px solid black;
}

th:nth-child(1) {
    width: 35%;
}

th:nth-child(2) {
    width: 20%;
}

th:nth-child(3) {
    width: 25%;
}

th:nth-child(4) {
    width: 20%;
}

th, td {
    padding: 10px 0;
}

td {
    border-bottom: 1px solid #b4b2b2;
    padding: 20px 0;
}

/* ----------thanh toán--------- */
.detail-content {
    position: absolute;
    width: 100%;
}

.creditcard-left,.creditcard-right {
    width: 50%;
    align-items: center;
    text-align: center;
}

.choose-payment {
    background-color: #fff;
    font-size: 26px;
    padding: 34px 20px;
    margin-top: 20px;
    box-shadow: 2px 4px 20px #0003;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: none;
}

.choose-payment p {
    margin-bottom: 15px;
}

.question-payment {
    font-size: 15px;
}

.radio-block-1 label {
    font-size: 15px;
}

.radio-block-1 {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-input {
    width: 15px;
    height: 15px;
}

.reserve1 {
    text-align: end;
}

.radio-yes {
    padding: 4px 20px;
    border: 1px solid #b4b2b2;
    width: 20%;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #b4b2b2;
    cursor: pointer;
}

.creditcard-item{
    justify-content: center
}

.creditcard-item input {
    width: 20%;
}

.creditcard-item img {
    width: 40%;
}

.creditcard-item label {
    width: 30%;
}

.radio-no {
    padding: 4px 20px;
    border: 1px solid #b4b2b2;
    width: 20%;
    border-radius: 5px;
    border: 1px solid #b4b2b2;
    cursor: pointer;
}

.creditcard-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    display: none;
}

.convenient-section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.creditcard-left, .convenient-left  {
    width: 50%;
}

.creditcard-right, .convenient-right {
    width: 50%;
}

.creditcard-item {
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-bottom: 20px;
    cursor: pointer;
}

.convenient-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.creditcard-item img {
    width: 20%;
    height: 40px;
    margin-right: 15px;
    border-radius: 5px;
    object-fit: fill;
}

.creditcard-item input, .convenient-item input {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.cash-section {
    font-size: 15px;
    font-weight: bold;
    color: #6b6b6b;
    display: none;
}

.payclose {
    position: absolute;
    top: 20px;
    right: 5%;
    color: #333;
    font-size: 22px;
}



/* --------------gg map---------- */
.gg-map {
    margin-bottom: 60px;
}

.gg-map h2 {
    font-size: 25px;
    margin-bottom: 30px;
    color: #333;
}
/* .gg-map iframe{
    width: 100%;
    height: 400px;
} */

#map {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}
/* -------------footer--------- */
.footer {
    background-color: #1b1b1b;
}

.wrap-footer {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-list {
    list-style: none;
}

.footer-list li a {
    color: rgba(142, 144, 145, 1);
    text-decoration: none;
    line-height: 2;
    font-size: 14px;
    font-weight: 500;
}

.footer-list li a:hover {
    text-decoration: underline;
    color: white;
}

.footer-list-connect {
    display: flex;
    align-items: center;
}

.footer-list-icon {
    font-size: 18px;
    margin-right: 12px;
}
.hello {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 74px;
    z-index: 100;
}